.rules {
  @apply mt-[88px] container mx-auto py-20 px-4 flex flex-col gap-20 justify-center items-center;

  & > h1 {
    @apply text-[#323232] text-4xl font-bold font-montserrat;
  }

  & > div {
    @apply flex max-lg:flex-col-reverse gap-12 justify-between items-center;

    &:nth-child(odd) {
      @apply flex-row-reverse max-lg:flex-col-reverse;
    }

    & > ul {
      @apply list-disc px-5 text-[#282828] font-montserrat  w-1/2 max-lg:w-full;

      & > li:not(:last-of-type) {
        @apply mb-4;
      }
    }
  }
}
