.header {
  @apply backdrop-blur-md shadow-md bg-[rgba(0,0,0,0.4)] flex items-center font-montserrat font-medium text-white transition-colors max-sm:hidden;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;

  z-index: 1000;

  /* TRY: divider  */

  /* &::after {
    content: "";
    background: transparent;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
  } */

  & > ul {
    @apply flex justify-end container mx-auto;

    & > li:nth-child(2) {
      @apply mr-[80px];
    }

    & > li {
      @apply relative;

      &::after {
        content: "";
        background-color: #fff;
        transition: all ease-in-out 0.1s;

        border-radius: 2px;

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 0px;
      }

      &:hover {
        &::after {
          height: 2px;
        }
      }
    }

    & > li a {
      @apply block py-[40px] px-4;
    }
  }
}
